body{
	background: #298eea;
    font-family: 'Roboto', helvetica, sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 60px;
}

.logo-img{
	display: block;
    height: 35px;
    width: auto;
    margin: 0 auto 30px;
}

.signup-box form{
 	margin: 0 auto;
    width: 400px;
    padding: 40px;
    border-radius: 3px;
    background: white;
}

.signup-form{
	font-family: 'Roboto', helvetica, sans-serif;
}

.signup-form h1{
	color: darkgrey; 
	text-align: center;
	padding-top: 40px;
}

.signup-form fieldset{
	padding-left: 0;
	border: none;
}

.signup-form label{
	display: block;
	padding: 15px;
	font-weight: bold;
	margin-left: 15px;
}

input[type='email'], input[type='password'], button[type='submit']{
	background: #fcfcfc;
    border: 2px solid #e7e7e7;
    margin: 20px auto;
    padding: 15px;
    width: 100%;
    display: block;
    border-radius: 3px;
    font-size: 18px;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
}

.signup-form input::-webkit-input-placeholder {
	font-family: 'Roboto', helvetica, sans-serif;
	font-weight: bold;
}

.signup-form input::-moz-placeholder {
	font-family: 'Roboto', helvetica, sans-serif;
	font-weight: bold;
}

.signup-form input::-ms-input-placeholder{
	font-family: 'Roboto', helvetica, sans-serif;
	font-weight: bold;
}

.signup-form input::-moz-placeholder{
	font-family: 'Roboto', helvetica, sans-serif;
	font-weight: bold;
}

.signup-form button{
	color: white;
    background: #15CD72;
    border: 0;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
}

.signup-form button:hover{
	background-color: #0CB863;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

.signup-form a{
	display: block;
	margin-top: 10px;
	text-align: center;
	color: #999;
	padding-bottom: 40px;
}

.login{
	text-align: center;
}

.login p{
	font-family: 'Roboto', helvetica, sans-serif;
	font-weight: bold;
	color: white;
	display: inline-block;

}

.login a{
	position: relative;
	color: white;
	font-family: 'Roboto', helvetica, sans-serif;
	font-weight: bold;
}
